h1 {
    font-family:"Micro 5", sans-serif;
    font-weight:800;
    font-size:50px;
    font-style:normal;
    text-decoration:none;
    margin-top:10px;
}
p {
    font-size:22px;
}
body {
    font-family:"Micro 5", sans-serif;
    background-image:url(/images/reviewSkyBackground.jpg);
    background-repeat:round;
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    cursor:url(/images/cursor.png), auto;
}

#title {
    font-family:"Micro 5", sans-serif;
    font-weight:800;
    font-size:25px;
    font-style:normal;
    text-decoration:none;
    cursor:url(/images/pointer.png), auto;
}

.container {
    background-color:rgba(255, 255, 255, 0.923);
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0, 0, 0, 1);
    text-align:center;
    width:400px;
}

.rating {
    font-size:30px;
    margin:10px 0;
}
.stars {
    font-size:30px;
    margin:10px 0;
}
.star {
    cursor:url(/images/pointer.png), auto;
    margin:0 5px;
}
.one {
    color:lightpink;
}
.two {
    color:#CFB4EB;
}
.three {
    color:#DC79E4;
}
.four {
    color:#A824DB;
}
.five {
    color:#5F25DA;
}
textarea {
    width:90%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:4px;
}

button {
    background-color:#007BFF;
    color:white;
    padding:10px 20px;
    border:none;
    border-radius:4px;
    cursor:url(/images/pointer.png), auto;
}
button:hover {
    background-color:#0056b3;
}

.reviews {
    margin-top:20px;
    text-align:left;
}
.review {
    border:1px solid #ccc;
    border-radius:4px;
    padding:10px;
}

