/* Index Page*/
h1 {
  font-family:"Micro 5", sans-serif;
  font-weight:800;
  font-size:5.58rem;
  font-style:normal;
  text-decoration:none;
  color:white;
}
h2 {
  font-family:"Micro 5", sans-serif;
  font-weight:400;
  font-size:3em;
  font-style:normal;
  text-decoration:none;
  color:white;
  margin-top:40px;
}
body {
  background:rgb(177, 238, 255);
  transition:0.3s ease-in;
  cursor:url(/images/cursor.png), auto;
}

#container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  margin-left:7%;
}
#box {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:30rem;
  max-height:24rem;
  border-radius:25px;
  border:20px solid beige;
  padding:50px;
  background-image:url(images/skyBackground.avif);
  background-repeat:round;
  transition:0.3s ease-in;
}

.topPage {
  margin-top:10%;
}
.bottomPage {
  margin-bottom:10%;
}

#startButton{
  margin-top:170px;
  position:absolute;
  cursor:url(/images/pointer.png), auto;
}

.dogGif {
  display:block;
  margin:-140px auto 0;
  float:right;
  position:relative;
  right:10px;
  width:300px;
  image-rendering:pixelated;
  animation-name:dogGifAnimation;
  animation-duration:4.5s;
  animation-iteration-count:100;
} 
@keyframes dogGifAnimation {
  from {
    transform:rotateX(0deg);
  }
  to {
    transform:rotateY(360deg);
  }
}

.buttonsPosition {
  margin-top: 0; 
  gap: 25px;
  padding: 1rem;
}
.volumeButtons:hover {
  background-color:beige;
  cursor:url(/images/pointer.png), auto;
}
#reviewButton {
  background-color:gold;
  border-radius: 20px;
  border:2px solid black;
  font-family:"Micro 5", sans-serif;
  font-weight:20;
  font-size:25px;
  font-style:normal;
  text-decoration:none;
  color:black;
  cursor:url(/images/pointer.png), auto;
  &:hover {
    background-color:beige;
  }
}
#creditsButton {
  background-color:gold;
  border-radius: 20px;
  border:2px solid black;
  font-family:"Micro 5", sans-serif;
  font-weight:20;
  font-size:25px;
  font-style:normal;
  text-decoration:none;
  color:black;
  cursor:url(/images/pointer.png), auto;
  &:hover {
    background-color:beige;
  }
}

label {
  width:clamp(60px, 40vw, 85px);
  height:clamp(30px, 15vw, 15px);
  position:relative;
  display:block;
  background:white;
  border:2px solid black;
  border-radius:999px;
  box-shadow:inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(50, 50, 50, 0.388);
  cursor:url(/images/pointer.png), auto;
  transition:0.3s;
}
label:after {
  content:"";
  width:clamp(10px, 20vw, 27px);
  height:clamp(10px, 20vw, 27px);
  position:absolute;
  top:5%;
  left:5%;
  background:linear-gradient(180deg, lightblue, white);
  border-radius:50%;
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transition:0.3s;
}
#darkMode {
  width:0;
  height:0;
  visibility:hidden;
}
input:checked+label {
  background:#242424;
}
input:checked+label:after {
  left:95%;
  transform:translateX(-100%);
  background:linear-gradient(180deg, rgb(33, 2, 148), #000000);
}
label:active:after {
  width:clamp(20px, 30vw, 40px);
}
label svg {
  position:absolute;
  width:clamp(10px, 8vw, 20px);
  top:50%;
  transform:translateY(-50%);
  z-index:100;
}
label svg.sun {
  left:clamp(7.902px, 5%, 12px);
  fill:gold;
  transition:0.3s;
}
label svg.moon {
  right:clamp(7px, 5%, 12px);
  fill:black;
  transition:0.3s;
}
input:checked+label svg.sun {
  fill:orange;
}  
input:checked+label svg.moon {
  fill:#fff;
}  

body.darkTheme {
  background-color:#1c235a;
  transition:0.3s ease-in;
}
#box.darkTheme {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  max-width:30rem;
  max-height:24rem;
  border-radius:25px;
  border:20px solid #1e042a;
  padding:50px;
  background-image:url(images/nightSkyBackground.png);
  background-repeat:round;
  transition:0.3s ease-in;
}

#clickyClawsButton {
  margin-top: 25%;
  cursor:url(/images/pointer.png), auto;
}

/*Game Page*/
#start {
  display:flex;
  align-items:center;
  justify-content:center;
  position: fixed;
  top:0;
  left:0;
  z-index:999;
  width:100vw;
  height:100vh;
  background-color: rgba(173, 216, 230, 0.943);
  font-size:70px;
  font-family:"Micro 5", sans-serif;
  color:white;
  cursor:url(/images/pointer.png), auto;
}
#start.hide {
  opacity:0;
  visibility:hidden;
  transition:all 1s;
}

#title {
  font-family:"Micro 5", sans-serif;
  font-weight:400;
  font-size:50px;
  font-style:normal;
  text-decoration:none;
  color:rgb(220, 220, 220);
  position:absolute;
  top:10%;
  left:7%;
  cursor:url(/images/pointer.png), auto;
}
#container {
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
}
#gameBox {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:rgb(118, 178, 231);
  border-radius:25px;
  border:20px solid beige;
  padding:31vh;
  transition:0.3s ease-in;
}
.gameButtonsPosition {
  position:absolute;
  bottom:15%;
  right:4%;
}

.word {
  font-family:"Micro 5", sans-serif;
  font-weight:400;
  font-size:150px;
  font-style:normal;
  color:white;
}
.correct {
  color:gold;
}
.incorrect {
  color:red;
}
.points {
  display:flex;
  justify-content:center;    
  align-items:center;
  position:absolute;
  top:55px;
  font-size:50px;
  font-family:"Micro 5", sans-serif;
  color:gold;
  opacity:0;
  transition:opacity 0.3s ease, transform 0.3s ease;
  pointer-events:none;
}
.revealPoints {
  opacity:1;
}

.dogContainer {
  display:flex;
  justify-content:center;    
  align-items:center;
  position:absolute;
  top:20%;
}
.behind {
  position:relative;
  top:20px;
  transition:opacity 0.1s;
}
.top {
  position:absolute;
  top:0px;
  left:0;
  transition:opacity 0.1s;
}
.image {
  width:auto;
  height:auto;
}
.hidden {
  opacity:0;
  pointer-events:none;
}
.evolve {
  animation-name:evolution;
  animation-duration:0.2s;
  animation-iteration-count:5;
  animation-fill-mode:forwards;
}
.victory {
  animation-name:evolution;
  animation-duration:5s;
  animation-iteration-count:infinite;
  animation-fill-mode:forwards;
}
@keyframes evolution {
  0% {
    transform:rotateX(0deg);
  }
  100% {
    transform:rotateY(360deg);
  }
}
.frame1 {
  animation:blink1;
  animation-duration:0.25s;
  animation-iteration-count:2;
  animation-direction:alternate;
}
@keyframes blink1 {
  0% { 
    opacity:1;
  }
  100% { 
    opacity:0;
  }
}
.frame2 {
  animation:blink2;
  animation-duration:0.25s;
  animation-iteration-count:1;
  animation-direction:alternate;
}
@keyframes blink2 {
  0% { 
    opacity:0;
  }
  100% { 
    opacity:1;
  }
}

.progressContainer {
  position:absolute;
  bottom:5%;
  left:50%;
  transform:translateX(-50%);
  width:80%;
  height:20px;
  background-color:beige;
  border:2px solid #000;
  border-radius:10px;
  overflow:hidden;
}
#progressBar {
  height:100%;
  width:0%;
  background-color:gold;
  transition:width 0.5s ease-in-out;
}

#gameBox.darkTheme {
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:#434676; 
  border-radius:25px;
  border:20px solid #1e042a;
  padding:31vh;
  transition:0.3s ease-in;
}
